* {
    margin: 0px;
    padding: 0px;

}
#header {
    position: relative;
    margin: 0px auto;
    width: auto;
    /*border: 1px solid black;*/
    height: 50px;
}

.tabs{
    font-size: 25px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 100%;
    margin-left: 20px;
    padding: 5px 15px;
    width: auto;
    /*border:1px solid red;*/
}

.mutations-container {
    width: 50%;
    float: left;
    padding-left: 35px;
    display: block;
    background-color: #ffff00;
}
